@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: rgb(14,14,14);
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Barlow Condensed", serif;
    background: var(--bg);
}

body > * {
    margin: 1.125rem;
}

.contact-sheet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-thumb {
    cursor: pointer;
    height: 25vh;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: .25rem;
    margin-bottom: 2.125rem;
}

.photo-thumb.fullscreen {
    position: fixed;
    background: var(--bg);
    top: 0;
    left: 0;
    margin: 0;
    z-index: 100;
    height: 100vh;
    width: 100%;
}

.photo-thumb::after {
    content: attr(data-meta);
    display: block;
    text-align: center;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    margin-top: 6px;
    font-family: "Barlow Condensed";
    opacity: 0.5;
}

img {
    max-height: 100%;
    max-width: 100%;
}
