.upload {
    width: fit-content;
    padding: 0 1rem;
    min-height: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(200, 200, 200);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.upload:hover {
    border-color: rgb(120, 120, 120);
    color: white;
}

.upload input[type="file"] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.upload::before {
    content: "Click or drag your .CR2 files here";
    font-family: "Barlow Condensed";
    pointer-events: none;
}
